doctype html
html(lang="pt-br")
  head
    title Sebrae - Pronto para crescer?
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="Sebrae - Pronto para crescer?")
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')

    //- Meta Tags for Social Media
    meta(property='og:title' content="Sebrae - Pronto para crescer?")
    meta(property='og:description' content="O ano de 2021 pode ser diferente. Participe do programa Brasil Mais.")
    meta(property='og:image' content="assets/images/bg-featured.jpg")
    meta(property='og:url' content="https://sebraedfbrasilmais.com.br/")

    meta(name='twitter:card' content="summary_large_image")
    meta(name='twitter:site' content="@sebraenodf")
    meta(name='twitter:title' content="Sebrae - Pronto para crescer?")
    meta(name='twitter:image' content="assets/images/bg-featured.jpg")
    meta(name='twitter:url' content="https://twitter.com/sebraenodf")

    //- ==================================================
    //- Webapp
    //- ==================================================
    link(rel='apple-touch-icon' sizes='180x180' href='assets/images/favicon.png')
    link(rel='icon' type='image/png' href='assets/images/favicon.png' sizes='45x45')
    //link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='assets/images/favicon.png')
    meta(name='apple-mobile-web-app-title' content="Sebrae - Pronto para crescer?")
    meta(name='application-name' content="base")
    meta(name='theme-color' content="base")

    //- ==================================================
    //- Stylesheets
    //- ==================================================

    //- fonts
    link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap" rel="stylesheet")

    //- css
    link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
    link(rel="stylesheet" href="assets/stylesheets/style.css")


  body
    script(type="text/javascript").
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
            document.body.classList.add('mobile');


    #general
        include components/header.pug
        include components/featured.pug
        include components/benefits.pug
        include components/operation.pug
        include components/rules.pug
        include components/testimonials.pug
        include components/footer.pug

    //- SCRIPTS
    script(src="https://code.jquery.com/jquery-3.0.0.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")

    script(src='assets/javascripts/main.js')
