section.benefits#benefits
  .middle
    .columns
      .col-1(data-aos="fade" data-aos-duration="1200")
        h3 Benefícios reais para seu negócio
        p O programa Brasil+ tem por objetivo transformar os pequenos negócios por meio da implantação de ações que visam o aumento da produtividade da sua empresa. Dessa forma, o foco não é na inovação em si, mas a inovação como meio para geração de resultados concretos para as empresas, seja na forma de aumento de receita, redução de custos e/ou aumento de produtividade.

      .col-2(data-aos="fade-left" data-aos-duration="1200")
        ul
          li O ALI acompanha o seu <strong>negócio de perto</strong>
          li <strong>100% subsidiado</strong>, você não vai gastar nada
          li Sugere ações que <strong>aumentam a produtividade</strong><br> e fazem seu negócio se <strong>destacar da concorrência</strong>
          li O foco é gerar <strong>resultados concretos</strong> para o seu negócio, por meio da <strong>inovação</strong>
          li Oportunidade de <strong>aumentar a receita</strong> <strong>e reduzir custos</strong>
          li <strong>Modernizar</strong> processos e modelos de negócios, investir em marketing, implantar práticas sustentáveis e digitalização
          li <strong>Inovação gera novas<br> oportunidades de negócios</strong>
