.carousel
    h3.title Personagens

    .wrapper.owl-carousel
        .item-wrapper
            img(src="assets/images/components/carousel/image-01.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-02.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-03.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-04.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-05.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-06.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-07.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-08.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-09.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-10.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-11.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-12.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-13.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-14.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-15.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-16.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-17.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-18.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-19.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-20.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-21.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-22.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-23.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-24.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-25.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-26.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-27.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-28.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-29.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-30.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-31.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-32.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-33.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-34.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-35.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-36.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-37.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-38.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-39.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-40.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-41.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-42.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-43.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-44.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-45.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-46.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-47.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-48.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-49.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-50.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-51.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-52.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-53.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-54.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-55.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-56.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-57.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-58.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-59.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-60.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-61.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-62.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-63.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-64.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-65.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-66.jpg" alt='imagem carrossel')

        .item-wrapper
            img(src="assets/images/components/carousel/image-67.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-68.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-69.jpg" alt='imagem carrossel')
        
        .item-wrapper
            img(src="assets/images/components/carousel/image-70.jpg" alt='imagem carrossel')

    .pagination
