section.featured
  .middle
    .block-text(data-aos="fade" data-aos-duration="1600")
      h2  Pronto para crescer?
      p O ano de 2021 pode ser diferente, participe do programa Brasil Mais.

      .block-button
        a(href="https://forms.office.com/Pages/ResponsePage.aspx?id=cYIpl9cbxUqTW4it3vY2zBs6BvbLG6BJkgSFMbimfqhUQlozTUZXRU1WRFlRNlFLRjFOTTRDWDJMVy4u" target="_blank").btn-subscription Clique aqui e faça sua inscrição
        span Vagas limitadas

