footer
  .middle(data-aos="fade-up" data-aos-duration="1200")
    img.logo-footer(src="assets/images/logo-footer.png")

    .links
      .box.one
        p.tel 0800 570 0800
        span Central de Atendimento:

      .box.two
        p.site
          a(href="https://www.sebrae.com.br/sites/PortalSebrae/ufs/df?codUf=7" target="_blank") www.df.sebrae.com.br

      .box.three
        p.tel
          a(href="https://api.whatsapp.com/send?phone=5561933621701" target="_blank") 61 3362 1701
        span Whatsapp:

      .box.four
        ul
          li.instagram
            a(href="https://www.instagram.com/sebraenodf" target="_blank")
          li.facebook
            a(href="https://www.facebook.com/sebraenodf/" target="_blank")
          li.twitter
            a(href="https://twitter.com/sebraenodf" target="_blank")
          li.linkedin
            a(href="https://www.linkedin.com/company/sebrae-df/" target="_blank")
          li.youtube
            a(href="https://www.youtube.com/channel/UCKTS-afGKkGIhtNtpxOJTfw" target="_blank")

        p.social Redes Sociais
