header
  .middle
    h1.logo(data-aos="fade-right" data-aos-duration="1200")
      //- a(href="https://www.sebrae.com.br/sites/PortalSebrae" target="_blank") Sebrae
      a(href="/") Sebrae

    nav(data-aos="fade-down" data-aos-duration="1200")
      ul
        li
          a(href="#benefits") Benefícios
        li
          a(href="#operation") Como funciona
        li
          a(href="https://forms.office.com/Pages/ResponsePage.aspx?id=cYIpl9cbxUqTW4it3vY2zBs6BvbLG6BJkgSFMbimfqhUQlozTUZXRU1WRFlRNlFLRjFOTTRDWDJMVy4u" target="_blank") Auto diagnóstico
        li
          a(href="#rules") Regras

    .subscription(data-aos="fade-left" data-aos-duration="1200")
      a(href="https://forms.office.com/Pages/ResponsePage.aspx?id=cYIpl9cbxUqTW4it3vY2zBs6BvbLG6BJkgSFMbimfqhUQlozTUZXRU1WRFlRNlFLRjFOTTRDWDJMVy4u" target="_blank").btn-subscription Participe
