section.operation#como-funciona
  .middle
    h3(data-aos="fade-up" data-aos-duration="1200") Como funciona o programa Brasil Mais?

    ul
      li(data-aos="fade" data-aos-duration="1200" data-aos-delay="200")
        img(src="assets/images/icon-1.png" alt="Auto Diagnóstico")
        p <strong>Auto Diagnóstico</strong> Descubra o nível de inovação da sua empresa.
        a(href="https://forms.office.com/Pages/ResponsePage.aspx?id=cYIpl9cbxUqTW4it3vY2zBs6BvbLG6BJkgSFMbimfqhUQlozTUZXRU1WRFlRNlFLRjFOTTRDWDJMVy4u" target="_blank").btn Clique para começar agora
      li(data-aos="fade" data-aos-duration="1200" data-aos-delay="600")
        img(src="assets/images/icon-2.png" alt="Sua solicitação será processada")
        p <strong>Sua solicitação<br> será processada</strong> As vagas são limitadas e a inclusão nos ciclos dependerá da chegada de sua inscrição. Aguarde o contato do analista do Sebrae para saber<br> o início de sua turma.
      li(data-aos="fade" data-aos-duration="1200" data-aos-delay="1000")
        img(src="assets/images/icon-3.png" alt="Receba o agente local de inovação")
        p <strong>Receba<br> o agente local de inovação</strong> Após descobrir em qual ciclo está participando aproveite ao máximo as informações que irão transformar sua empresa e ampliar sua produtividade" Serão mais de 40.000 horas de atendimento para ajudar as empresas do Distrito Federal.
      li(data-aos="fade" data-aos-duration="1200" data-aos-delay="1400")
        img(src="assets/images/icon-4.png" alt="+ Produtividade")
        p <strong>+ Produtividade</strong> Sua empresa estará mais competitiva para o mercado
