section.rules#rules
  .middle
    .block-text(data-aos="fade-right" data-aos-duration="1200")
      h3 Regras de participação
      p Ter uma empresa com<br> CNPJ nos portes <strong>ME</strong> ou <strong>EPP</strong>.
