section.testimonials#depoimentos
  .middle
    .carousel(data-aos="fade" data-aos-duration="1400")
      .wrapper.owl-carousel
        .item-wrapper
          .box
            img.photo(src="assets/images/photo-1.jpg" alt='Foto')
            .text
              h6 @fmatos.psicofoto 
              p “Sabe quando a gente vira a chave, o motor funciona e entramos em movimento? Agora soma a isso saber o destino e a direção a se pegar para lá chegar. Junto a pessoa do meu xará Fernando Carvalho, pude dirigir para um NOVO destino. A FMatos se unificou nos seus ramos de Saúde e Arte, Psicologia e Fotografia. Resultados de um ano da FMatos: Triplicou o seu faturamento! E aprendeu a DIRIGIR no caminho da constante INOVAÇÂO. Obrigada!”

        .item-wrapper
          .box
            img.photo(src="assets/images/photo-2.jpg" alt='Foto')
            .text
              h6 @polevoe
              p "Participar do ALI ampliou a minha percepção para a gestão de equipe e me ajudou a nortear as ações necessárias dentro do meu estúdio. Saber que existem parceiros que estão fomentando a inovação, como o Sebrae, é muito importante para encorajar as micro empreendedoras como eu a seguir tomando as melhores decisões!"

        .item-wrapper
          .box
            img.photo(src="assets/images/photo-3.jpg" alt='Foto')
            .text
              h6 @expressoconsultoria
              p "Me chamo Cristiano da Matta, sou diretor administrativo da Expresso & CO. Recebemos uma indicação pro ALI e rapidamente iniciamos o nosso processo. O agente de inovação foi excepcional e reformulamos diversos objetivos estratégicos e indicadores. Uma grande ajuda para enfrentarmos esses tempos de crise."

        .item-wrapper
          .box
            img.photo(src="assets/images/photo-4.jpg" alt='Foto')
            .text
              h6 @Marcelofelippes
              p "Sou o CEO & Presidente da LIA, Marcelo Augusto de Felippes, e reputo ao ALI a melhor mudança de rumo de minha empresa. Foi realmente excelente para a empresa e também para todos os nossos colaboradores. Muito obrigado, ALI"

      .pagination
