#general {
  .benefits {
    padding-top: 20px;
    margin-bottom: 30px;
    position: relative;

    &:before {
      content: "";
      width: 110px;
      height: 270px;
      background: url(../images/bg-bullets.png) no-repeat center / contain;
      position: absolute;
      left: 0;
      top: 30px;
      z-index: 1;
    }

    .middle {
      border-bottom: thin solid #0d9ffc;
      padding-bottom: 35px;
      position: relative;
      z-index: 2;
      background: #fff;
    }

    .columns {
      display: flex;
      justify-content: space-between;
    }

    .col-1 {
      max-width: 350px;
      margin-right: 60px;
    }

    .col-2 {
      /*padding-right: 110px;*/
    }

    h3 {
      font-family: 'Nunito';
      color: #0670f9;
      font-size: 40px;
      font-weight: 700;
    }

    p {
      margin-top: 20px;
      font-family: 'ob';
      font-size: 14px;
      color: #0670f9;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1.7;
    }

    ul {
      li {
        font-family: 'ob';
        font-size: 14px;
        color: #0670f9;
        font-weight: 500;
        line-height: 1.1;
        padding-left: 40px;
        margin-bottom: 20px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          background: url(../images/bullet.png) no-repeat center / contain;
          width: 28px;
          height: 28px;
        }

        strong {
          font-size: 24px;
          font-weight: 800;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #general {
    .benefits {
      padding-top: 40px;

      &:before {
        display: none;
      }

      .columns {
        flex-direction: column;
      }

      .col-1 {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
      }

      .col-2 {
        max-width: 100%;
      }

      h3 {
        font-size: 35px;
      }

      ul {
        li {
          font-size: 14px;

          strong {
            font-size: 20px;
          }
        }
      }
    }
  }
}
