#general {
    section.featured {
        background: url(../images/bg-featured.jpg) no-repeat center top / contain;
        height: 65vw;

        .block-text {
            float: right;
            margin-top: 250px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            max-width: 650px;

            h2 {
                font-family: 'Nunito';
                font-weight: 700;
                font-size: 58px;
                color: #fff;
                line-height: 1.2;
            }

            p {
                font-family: 'Nunito';
                font-weight: 300;
                font-size: 42px;
                color: #fff;
                line-height: 1.2;
            }
        }

        .block-button {
            margin-top: 20px;

            span {
                display: inline-block;
                font-family: 'ob';
                font-size: 16px;
                color: #fff;
                font-weight: 300;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-top: 10px;
            }
        }

        .btn-subscription {
            padding: 0 30px;
            animation: pulse 1.2s infinite;

            &:hover {
                transform: scale(1);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #general {
        section.featured {
            .block-text {
                h2 {
                    font-size: 50px;
                }

                p {
                    font-size: 34px;
                }
            }
        }
    }

}

@media screen and (max-width: 767px) {
    #general {
        section.featured {
            overflow: hidden;
            position: relative;
            background-position: -270px 85px;
            background-size: cover;
            height: 105vh;
            min-height: 105vh;
            overflow: hidden;
            margin-top: -85px;

            &:before {
                display: block;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                z-index: 0;
                pointer-events: none;
                box-shadow: inset 0 -220px 100px -120px #000;
            }

            .block-text {
                margin-top: 260px;
                max-width: 100%;
                float: none;
                overflow: hidden;

                h2 {
                    font-size: 36px;
                    line-height: 1;
                    margin-bottom: 8px;
                    max-width: 220px;
                    padding-left: 130px;
                }

                p {
                    font-size: 20px;
                    max-width: 220px;
                    padding-left: 130px;
                }
            }

            .block-button {
                margin-top: 150px;
                width: 100%;

                span {
                    font-size: 12px;
                }
            }
        }
    }
}
