#general {
  section.rules {
    height: 53vw;
    background: url(../images/bg-rules.jpg) no-repeat center / auto 100%;

    .middle {
      overflow: hidden;
      text-align: center;
    }

    .block-text {
      margin: 22% 0 0 100px;
      max-width: 470px;
    }

    h3 {
      display: flex;
      justify-content: center;
      font-family: 'Nunito';
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      background: url(../images/bg-blue.png) no-repeat center / contain;
      padding: 10px 10px;
      text-align: center;
    }

    p {
      font-family: 'ob';
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      line-height: 1.2;
      margin-top: 25px;

      strong {
        font-weight: 900;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #general {
    section.rules {
      .block-text {
        margin-top: 10%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #general {
    section.rules {
      height: 500px;
      background-size: cover;
      background-position: right -160px top;

      .block-text {
        margin: 70px 0 0 0px;
        max-width: 230px;
      }

      h3 {
        font-size: 25px;
        padding: 10px 20px;
        background-size: cover;
        border-radius: 20px;
        margin-top: 80px;
      }

      p {
        font-size: 22px;
        /*margin-top: 60px;*/
        text-shadow: 1px 1px 1px #000;
      }
    }
  }
}
